.banner{
    color: white;
    height: 600px;
    object-fit: contain;
    position: relative;
}

.banner__contents{
    height: 190px;
    padding-top: 200px;
    margin-left: 30px;
    width: 45rem;
    text-align: left;
} 

.banner_title{
  font-size: 3rem;
  font-weight: 800;
  padding-bottom: 0.3rem;
}

.Banner_buttons{

}

.banner_button{
  cursor: pointer;
  color: white;
  outline:none;
  border: none;
  font-weight: 700;
  border-radius: 0.2vw;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-right: 1rem;
  padding-top: 0.5rem;
  background-color: rgba(51, 51, 51, 0.5);
  padding-bottom: 0.5rem;
}

.banner_button:hover{
  color: black;
  background-color: #e6e6e6;
  transition: all 0.4s;
}

.banner_description{
  
  font-size: 0.8rem;
  padding-top: 1rem;
  line-height: 1.3;
  max-width: 360px;
}

.extra{
  height: 7.4rem;
  background:linear-gradient(
    180deg,
    transparent,
    rgba(27, 27, 27, 0.61),
      #111
  ) ;
  width: 100%;
  position: absolute;
  bottom: 0px;
}